//size
$xl_size: 4.8rem;
$l-size: 3.2rem;
$m-size: 2.2rem;
$s-size: 1.6rem;

//colors

$widget_color: #1e2847;

$widget_h_color: #1c1c46;

$body_color: #0d0a33;

$big_button_color: #9c50ceda;

$header_b_color: #030220;

$header_color: #fff;

$header_s_color: #cfd38c;
