//size
$xl_size:4.8rem;
$l-size:3.2rem;
$m-size:2.2rem;
$s-size:1.6rem;



//colors

$widget_color:#202944;

$widget_h_color:#181b35;

$body_color:#262530;

$big_button_color:#7e58c4da;

$header_b_color: #04021f;

$header_color:#fff;

$header_s_color:#e4e0f7;



