

.big_button{
    background: $big_button_color;
    border:none;
    border-bottom: $s-size solid darken($big_button_color, $amount: 10);
    color:$header_color;
    font-size: $l-size;
    font-weight: 500 ;  
    margin: $l-size $s-size $l-size 0;
    padding:$s-size $s-size;  
    width: 100%;
   
}

.big_button:disabled{
    opacity: 0.5;
}

.button{
    background: $big_button_color;
    color: $header_color;
font-size: $s-size;
font-weight: bold;
font-style: italic;
border: none;
border-bottom: 0.5rem solid darken($big_button_color, $amount: 10);

}

.button--link{
    background:none;
    border: none;
    color:$header_color;

    font-size: $s-size;
}