.note {
  border-bottom: 0.2rem solid lighten($color: #ffff, $amount: 10);
  color: #fefeff;
  display: flex;
  font-size: $s-size;
  justify-content: space-between;
  margin: auto;
  padding: $s-size $s-size;
  
}
.notes{
    word-break: break-word;
    
}

.add__note__error {
  color: red;
  border-bottom: 0.2rem solid lighten($color: #ffff, $amount: 10);
  font-weight: 500;
  font-style: italic;
  margin: 0;
  padding: $s-size;
  text-align: center;
}

.add__note {
  display: flex;
  justify-content: space-between;
  padding: $s-size;
}

.add__note__input {
  padding: 1rem;
  font-size: $s-size;
  font-weight: 500;
  margin-right: $xl-size;
  color: $header_color;
  background: $widget_color;
  flex-grow: 1;
  border-bottom: 1rem solid lighten($color: $widget_color, $amount: 10);
  
}
